<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{
          cartService.cartEntries.length
        }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li
          *ngFor="let entry of cartService.cartEntries"
          class="list-group-item d-flex justify-content-between lh-condensed"
        >
          <div>
            <h6 class="my-0">{{ entry.name }}</h6>
            <small class="text-muted">{{ entry.description }}</small>
          </div>
          <span class="text-muted">{{ entry.totalPrice | currency }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>{{ cartService.orderTotal | currency }}</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" />
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form
        class="form-horizontal"
        (ngSubmit)="onSaveCheckoutForm()"
        [formGroup]="checkoutForm"
      >
        <fieldset>
          <div class="row">
            <div
              class="col-md-6 mb-3 form-group"
              [ngClass]="{ 'has-error': errorMessageList.firstName }"
            >
              <label for="firstNameId" class="control-label">First name</label>
              <input
                class="form-control"
                id="firstNameId"
                type="text"
                placeholder="First Name (required)"
                formControlName="firstName"
                (blur)="onBlur($event)"
              />

              <div class="help-block" *ngIf="errorMessageList.firstName">
                {{ errorMessageList.firstName }}
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label class="control-label" for="lastNameId">Last name</label>
              <input
                class="form-control"
                id="lastNameId"
                type="text"
                placeholder="Last Name"
                formControlName="lastName"
              />
            </div>
          </div>

          <div
            class="form-group"
            [ngClass]="{ 'has-error': errorMessageList.email }"
          >
            <label for="emailId" class="control-label"
              >Email <span class="text-muted">(Required)</span></label
            >
            <input
              class="form-control"
              id="emailId"
              type="email"
              placeholder="youexample@domain.com"
              formControlName="email"
              appAsyncEmailValidator
              (blur)="onBlur($event)"
            />

            <div class="help-block" *ngIf="errorMessageList.email">
              {{ errorMessageList.email }}
            </div>
          </div>

          <div formArrayName="phones">
            <ng-container *ngFor="let phone of phones.controls; let i = index">
              <div class="form-group" [formGroupName]="i">
                <div class="d-flex justify-content-between mb-2">
                  <label
                    class="control-label col-md-1"
                    attr.for="{{ 'phoneId' + i }}"
                    >Phone</label
                  >
                  <button
                    class="btn btn-danger"
                    *ngIf="i > 0"
                    (click)="onRemovePhoneField(i)"
                  >
                    X
                  </button>

                  <button
                    class="btn btn-success"
                    *ngIf="i === 0"
                    (click)="onAddNewPhoneField()"
                  >
                    Add one more phone
                  </button>
                </div>

                <input
                  class="form-control"
                  id="{{ 'phoneId' + i }}"
                  type="tel"
                  placeholder="Your phone"
                  formControlName="phone"
                />
              </div>
            </ng-container>
          </div>

          <div class="form-group">
            <div class="col-md-offset-1 col-md-8 checkbox">
              <label>
                <input
                  id="sendProductsId"
                  type="checkbox"
                  formControlName="sendProducts"
                />
                Send me your products
              </label>
            </div>
          </div>

          <ng-container *ngIf="checkoutForm.get('sendProducts').value">
            <div class="mb-3">
              <label for="addressLine1">Address</label>
              <input
                type="text"
                id="addressLine1Id"
                class="form-control"
                formControlName="addressLine1"
                placeholder="1234 Main St"
              />
            </div>

            <div class="mb-3">
              <label for="addressLine2Id"
                >Address 2 <span class="text-muted">(Optional)</span></label
              >
              <input
                type="text"
                class="form-control"
                id="addressLine2Id"
                formControlName="addressLine2"
                placeholder="Apartment or suite"
              />
            </div>

            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select
                  class="custom-select d-block w-100"
                  formControlName="country"
                >
                  <option value="">Select a Country...</option>
                  <option *ngFor="let country of countries" [value]="country">
                    {{ country }}
                  </option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="cityId">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="cityId"
                  placeholder="City"
                  formControlName="city"
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input
                  type="number"
                  class="form-control"
                  id="zipId"
                  placeholder="Zip Code"
                  formControlName="zip"
                />
              </div>
            </div>
          </ng-container>

          <div class="form-group">
            <label class="col-md-2 control-label">Payment type</label>
            <label class="radio-inline mr-4">
              <input
                type="radio"
                id="paymentType1"
                value="PayPal"
                formControlName="paymentMethod"
              />PayPal
            </label>
            <label class="radio-inline mr-4">
              <input
                type="radio"
                id="paymentType2"
                value="Debit Card"
                formControlName="paymentMethod"
              />Debit Card
            </label>
            <label class="radio-inline mr-4">
              <input
                type="radio"
                id="paymentType3"
                value="Credit Card"
                formControlName="paymentMethod"
              />Credit Card
            </label>
          </div>

          <button
            class="btn btn-primary btn-lg btn-block"
            type="submit"
            [disabled]="checkoutForm.invalid"
          >
            Place an order
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
