/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-wrapper {
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
}
.app-title {
  font-size: 2rem;
  letter-spacing: -0.14px;
}

.app-title.app-title--with-button {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid;
  border-width: 1px 0;
  padding: 5px 0;
}

.app-color--primary {
  color: #6200EE;
}

.app-color--success {
  color: #03DAC6;
}
.app-color--error {
  color: #b00020;
}

.app-text--bold {
  font-weight: bold;
}

.app-border--dotted {
  border: 1px dotted;
}
