<ng-container *ngIf="!cartService.isEmptyCart(); else emptyCart">
  <div class="cart-list__wrapper">
    <div class="cart-list__entries-block">
      <div class="cart-list__actions">
        <p>
          You have:
          <b>
            {{
              cartService.totalQuantity === 1
                ? cartService.totalQuantity + " product"
                : cartService.totalQuantity + " products"
            }}
          </b>
          in cart
        </p>
        <button
          type="reset"
          mat-raised-button
          color="warn"
          (click)="cartService.removeAllProducts()"
        >
          Clear cart
        </button>
      </div>

      <mat-form-field>
        <mat-label>Sort by</mat-label>
        <mat-select [(value)]="selectedSortField">
          <mat-option
            *ngFor="let field of sortingFields | keyvalue"
            [value]="field.key"
            >{{ field.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-checkbox #ascendingSortingCheckbox style="margin-left: 10px"
        >Sort by ascending</mat-checkbox
      >

      <app-cart-entry
        *ngFor="
          let product of cartEntries
            | orderBy: selectedSortField:!ascendingSortingCheckbox.checked
        "
        [cartEntry]="product"
        (updateQuantity)="onUpdateQuantity($event)"
        (cartEntryDelete)="onCartEntryDelete($event)"
      ></app-cart-entry>
    </div>
    <div class="cart-list__order-summary">
      <b>ORDER TOTAL: {{ cartService.orderTotal | currency }}</b>
      <br />
      <button
        type="submit"
        mat-raised-button
        color="accent"
        routerLink="/checkout"
      >
        Go to checkout
      </button>
    </div>
  </div>
</ng-container>

<ng-template #emptyCart><h3>Your shopping cart is empty</h3></ng-template>
